body {
  padding: 25px;
  background-color: white;
  color: black;
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  text-align: center;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.dark-mode a:visited {
  color: white;
  text-decoration: none;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}
  
hr {
  width: 50%;
}

textarea {
  resize: none;
}
