body {
  padding: 25px;
  background-color: white;
  color: black;
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  text-align: center;
}

span {
  font-size: 24px; /* Adjust the size of the icon */
}
span:hover {
  opacity: 0.7; /* Adds a hover effect for better user experience */
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.dark-mode a:visited {
  color: white;
  text-decoration: none;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}
  
hr {
  width: 50%;
}

input {
text-align: center;
}

.badges-container {
display: flex;
justify-content: space-around; /* Distributes the badges evenly */
gap: 10px; /* Optional space between badges */
}

.badge {
width: 100px; /* Adjust the size if needed */
height: auto;
}
